OPENAI_BASE_URL="https://<your-resource-name>.openai.azure.com"
OPENAI_API_KEY="<your-api-key>"
OPENAI_MODEL="llama4-maverick-17b"

OPENAI_BASE_URL_IMG="https://<your-resource-name>.openai.azure.com"
OPENAI_API_KEY_IMG="<your-api-key>"
OPENAI_MODEL_IMG="FLUX.1-schnell"

POSTS_CREATE_LIMIT="1/1minute"